.mor {
    color: red;
    text-align: center;
}

.otro {
    color: green;
    text-align: left;
}

.prueba {
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
    border: 5px solid black;
    width: 300px;
    box-sizing: border-box;
    margin: 40px;
}

body {
    margin: 0;
    background-color: grey;
}